SMTP_HOST=smtp.titan.email
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=office@rondev.com.ph
SMTP_PASS=Ronan_1980

TO_EMAIL=vetfusionanimalclinic@gmail.com

IMAP_HOST=imap.titan.email
IMAP_PORT=993
IMAP_SECURE=true
IMAP_SENT_FOLDER=Sent
